body {
  margin: 0;
  padding: 0;
  /* background-color: #9ddaf3b8 */
  background: rgb(193, 213, 9);
  background: linear-gradient(90deg, rgba(193, 213, 9, 1) 0%, rgba(5, 234, 199, 1) 50%, rgba(5, 154, 234, 1) 90%);
}

h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 5rem;

}

#logo {
  display: flex;
  justify-content: center;
}

#img {
  height: 15em;
  width: 15em;
  margin-left: 10vw;
}

#userform-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

#form-container {
  margin: 0rem;
  /* margin-top: 0px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  float: left;
  /* height: 10rem;
  width: 57rem */
}

#create-anime-form {
  margin: 10px;
  padding: 5px;
  border-style: solid;
  border-radius: 15px;
}

#create-anime-form input {
  background-color: #b8e4f5
}

#user-container {
  /* margin: 2rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* float: left */
  /* width: 25rem; */
  position: relative;
  /* left: -80px; */
  /* width: 30rem; */
}

#anime-container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.anime-card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 20rem;
  height: 31rem;
  /* display: inline-grid; */
  margin: 1rem 2rem;
  background-color: #f3f67ff7;
  box-shadow: 5px 4px #e04bc4;
  border-radius: 15px;

}

.image {
  width: 200px;
  height: 200px;
  display: flex;
  margin: auto;
  /* justify-self: center; */
  /* height: 12rem; */
  /* width: auto; */
}

.anime-description {
  height: 25%;
  margin-bottom: 20px;
}

.user-card {
  margin: 10px;
  padding: 5px;
  border-style: solid;
  border-radius: 15px;
}

.likes {
  /* display: flex; */
  margin: auto;
}



/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: rgba(103, 158, 96, 0.671);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 20;
  bottom: 125%;
  left: 50%;
  margin-left: 500px;
  margin-bottom: 500px;
  height: 300px;
  width: 300px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}